.edit_cash_title {
    margin-top: 32px;
    margin-left: 16px;
}

.edit_cash_label {
    margin-left: 16px;
    vertical-align: top;
}

.currency_label {
    margin-top: 0.5em;
    margin-left: 16px;
    margin-bottom: 0;
}

.field_container {
    display: flex;
    margin-top: 0.5em;
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-start;
}

.decision_buttons_container {
    display: flex;
    max-width: 75%;
    justify-content: space-between;
    flex-direction: row;
    align-items: baseline;
    margin: 32px auto;
    padding: 10px 0;
}