.main_container {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.main_container_selected {
    align-items: center;
    display: flex;
    flex-direction: column;
    background: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
    border-radius: 12px 12px 12px 12px;
}

.day_label {
    text-align: center;
    font-size: 0.94em;
    font-weight: 700;
    line-height: normal;
}

.profit_label {
    text-align: center;
    font-size: 0.6em;
    margin-top: -0.8em;
    font-weight: 300;
    line-height: normal;
}