.main_container {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    overflow: visible;
}

.month_label {
    vertical-align: middle;
    text-align: center;
    font-size: 1.5rem;
    font-style: normal;
    margin-right: auto;
    font-weight: 500;
    line-height: normal;
}

.profit_label {
    vertical-align: middle;
    padding-top: 0.5em;
    text-align: center;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.days_container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, 2fr);
    border-radius: 0.75rem;
    box-sizing: border-box;
    margin-top: -1.3em;
    padding-top: 0;
    background: var(--tg-theme-bg-color);
}