body {
    color: var(--tg-theme-text-color);
    background: var(--tg-theme-secondary-bg-color);
    display: flex;
    flex-direction: column;
    margin-top: -20px;
    height: 100%;
}

.material-symbols-outlined {
    font-variation-settings:
            'FILL' 0,
            'wght' 400,
            'GRAD' 0,
            'opsz' 48
}

